<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'ejercicio-sumas/ejercicio.css' %}">
    
    <link rel="stylesheet" href="{% static 'ejercicio-restas/drag-drop-restas.css' %}">
    <title>Document</title>
</head>
<body class="body">
    <div id="particles-js">
        
    </div>
    <main class="principal-container">
        <div class="header">
            <div class="question-counter">1/5</div>
            <div class="exit-button">X</div>
        </div>
        <div class="question" id="question" style="display: none;"></div>
        <div class="answers" id="answers" style="display: none;">
            <div class="option" id="option1"></div>
            <div class="option" id="option2"></div>
            <div class="option" id="option3"></div>
            <div class="option" id="option4"></div>
        </div>
      

        <section class="drag-drop-section">
            <div class="title">
                <h2 class="drag-drop-title">AGARRA MISILES ----></h2>
                <div class="basket-container">
                    <img src="{% static 'images/contenedor-misiles.png' %}" alt="Contenedor de misiles" class="basket">
                </div>
            </div>
            
            <div class="drag-drop-equation">
                <div class="drop-box" id="box1"></div>
                <div class="operator">-</div>
                <div class="drop-box" id="box2"></div>
                <div class="operator">=</div>
                <div class="drop-area"></div>
            </div>
            <button class="next-problem">Aceptar</button>
        </section>
    </main>
    <div id="confirm-exit" style="display: none;" class="exit-confirmation">
        <p>¿Quieres salir del nivel?</p>
        <div class="confirmation-buttons">
            <button class="option-button" id="exit-confirmed">Salir</button>
            <button class="option-button" id="continue-level">Continuar</button>
        </div>
    </div>
    
</body>
<script>
    const pantallaMundos = "{% url 'Student:Mundos' %}"
    const imageUrl = "{% static 'images/misil.png' %}";
</script>
<script src="{% static 'ejercicio-restas/ejercicio-restas.js' %}"></script>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{% static 'ejercicio-sumas/particlesjs-config.json' %}"></script>

<script>
    particlesJS.load('particles-js', '{% static "ejercicio-sumas/particlesjs-config.json" %}', function() {
        console.log('Particles.js config loaded');
    });
    </script>
</html>