* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .5s ease;
}
html{
    font-size: 20px;
}

.form-group input{
  color: white;
  }
/*PARTICULAS*/

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at center, #501169c7 0%, #000000 100%);
  overflow: hidden;
}

.stars-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5%;
  transform: rotate(-45deg);
}

.star {
  --star-color: rgb(22, 120, 233);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 5s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, rgb(42, 125, 131), rgb(0, 193, 252));
  border-radius: 50%;
  filter: drop-shadow(0 0 6px rgb(76, 192, 238));
  transform: translate3d(120em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 6.21em;
  --top-offset: 24.21vh;
  --fall-duration: 7.939s;
  --fall-delay: 9.069s;
}
.star:nth-child(2) {
  --star-tail-length: 5.71em;
  --top-offset: 78.06vh;
  --fall-duration: 11.789s;
  --fall-delay: 5.475s;
}
.star:nth-child(3) {
  --star-tail-length: 7.03em;
  --top-offset: 35.78vh;
  --fall-duration: 10.453s;
  --fall-delay: 2.751s;
}
.star:nth-child(4) {
  --star-tail-length: 7.41em;
  --top-offset: 48.45vh;
  --fall-duration: 8.056s;
  --fall-delay: 1.194s;
}
.star:nth-child(5) {
  --star-tail-length: 5.89em;
  --top-offset: 43.85vh;
  --fall-duration: 10.431s;
  --fall-delay: 7.112s;
}
.star:nth-child(6) {
  --star-tail-length: 5.28em;
  --top-offset: 36.83vh;
  --fall-duration: 6.917s;
  --fall-delay: 0.316s;
}
.star:nth-child(7) {
  --star-tail-length: 5.1em;
  --top-offset: 47.84vh;
  --fall-duration: 9.094s;
  --fall-delay: 7.72s;
}
.star:nth-child(8) {
  --star-tail-length: 7.01em;
  --top-offset: 12.45vh;
  --fall-duration: 6.675s;
  --fall-delay: 6.416s;
}
.star:nth-child(9) {
  --star-tail-length: 6.83em;
  --top-offset: 35.88vh;
  --fall-duration: 8.571s;
  --fall-delay: 2.321s;
}
.star:nth-child(10) {
  --star-tail-length: 6.29em;
  --top-offset: 20.78vh;
  --fall-duration: 7.967s;
  --fall-delay: 1.521s;
}
.star:nth-child(11) {
  --star-tail-length: 5.75em;
  --top-offset: 43.91vh;
  --fall-duration: 9.087s;
  --fall-delay: 0.063s;
}
.star:nth-child(12) {
  --star-tail-length: 7.17em;
  --top-offset: 85.38vh;
  --fall-duration: 6.762s;
  --fall-delay: 3.904s;
}
.star:nth-child(13) {
  --star-tail-length: 7.07em;
  --top-offset: 47.87vh;
  --fall-duration: 9.898s;
  --fall-delay: 6.492s;
}
.star:nth-child(14) {
  --star-tail-length: 6.51em;
  --top-offset: 95.57vh;
  --fall-duration: 11.692s;
  --fall-delay: 7.585s;
}
.star:nth-child(15) {
  --star-tail-length: 6.1em;
  --top-offset: 38.92vh;
  --fall-duration: 11.593s;
  --fall-delay: 5.522s;
}
.star:nth-child(16) {
  --star-tail-length: 7.16em;
  --top-offset: 16.58vh;
  --fall-duration: 9.077s;
  --fall-delay: 5.918s;
}
.star:nth-child(17) {
  --star-tail-length: 6.13em;
  --top-offset: 92.17vh;
  --fall-duration: 7.396s;
  --fall-delay: 8.104s;
}
.star:nth-child(18) {
  --star-tail-length: 7em;
  --top-offset: 70.21vh;
  --fall-duration: 8.457s;
  --fall-delay: 2.204s;
}
.star:nth-child(19) {
  --star-tail-length: 5.89em;
  --top-offset: 76.53vh;
  --fall-duration: 6.934s;
  --fall-delay: 6.25s;
}
.star:nth-child(20) {
  --star-tail-length: 5.26em;
  --top-offset: 19.27vh;
  --fall-duration: 8.207s;
  --fall-delay: 4.534s;
}
.star:nth-child(21) {
  --star-tail-length: 5.61em;
  --top-offset: 47.69vh;
  --fall-duration: 11.659s;
  --fall-delay: 7.052s;
}
.star:nth-child(22) {
  --star-tail-length: 6.37em;
  --top-offset: 58.53vh;
  --fall-duration: 10.803s;
  --fall-delay: 6.259s;
}
.star:nth-child(23) {
  --star-tail-length: 5.47em;
  --top-offset: 8.5vh;
  --fall-duration: 11.663s;
  --fall-delay: 6.541s;
}
.star:nth-child(24) {
  --star-tail-length: 7.45em;
  --top-offset: 76.69vh;
  --fall-duration: 11.957s;
  --fall-delay: 7.758s;
}
.star:nth-child(25) {
  --star-tail-length: 6.47em;
  --top-offset: 95.47vh;
  --fall-duration: 10.798s;
  --fall-delay: 4.391s;
}
.star:nth-child(26) {
  --star-tail-length: 6.93em;
  --top-offset: 15.7vh;
  --fall-duration: 8.167s;
  --fall-delay: 9.811s;
}
.star:nth-child(27) {
  --star-tail-length: 5.19em;
  --top-offset: 63.11vh;
  --fall-duration: 6.688s;
  --fall-delay: 5.241s;
}
.star:nth-child(28) {
  --star-tail-length: 6.79em;
  --top-offset: 99.03vh;
  --fall-duration: 6.76s;
  --fall-delay: 3.859s;
}
.star:nth-child(29) {
  --star-tail-length: 6.59em;
  --top-offset: 91.42vh;
  --fall-duration: 9.454s;
  --fall-delay: 4.728s;
}
.star:nth-child(30) {
  --star-tail-length: 6.54em;
  --top-offset: 62.85vh;
  --fall-duration: 8.716s;
  --fall-delay: 4.09s;
}
.star:nth-child(31) {
  --star-tail-length: 5.22em;
  --top-offset: 42.15vh;
  --fall-duration: 10.486s;
  --fall-delay: 5.47s;
}
.star:nth-child(32) {
  --star-tail-length: 5.99em;
  --top-offset: 60.1vh;
  --fall-duration: 7.433s;
  --fall-delay: 8.991s;
}
.star:nth-child(33) {
  --star-tail-length: 6.11em;
  --top-offset: 87.83vh;
  --fall-duration: 10.584s;
  --fall-delay: 7.125s;
}
.star:nth-child(34) {
  --star-tail-length: 6.83em;
  --top-offset: 6.39vh;
  --fall-duration: 6.976s;
  --fall-delay: 0.631s;
}
.star:nth-child(35) {
  --star-tail-length: 5.17em;
  --top-offset: 29.28vh;
  --fall-duration: 8.771s;
  --fall-delay: 7.902s;
}
.star:nth-child(36) {
  --star-tail-length: 5.25em;
  --top-offset: 20.09vh;
  --fall-duration: 7.393s;
  --fall-delay: 7.469s;
}
.star:nth-child(37) {
  --star-tail-length: 5.4em;
  --top-offset: 60.02vh;
  --fall-duration: 7.399s;
  --fall-delay: 3.755s;
}
.star:nth-child(38) {
  --star-tail-length: 7.5em;
  --top-offset: 5.78vh;
  --fall-duration: 10.77s;
  --fall-delay: 9.568s;
}
.star:nth-child(39) {
  --star-tail-length: 5.68em;
  --top-offset: 11.92vh;
  --fall-duration: 7.946s;
  --fall-delay: 6.443s;
}
.star:nth-child(40) {
  --star-tail-length: 5.24em;
  --top-offset: 33.41vh;
  --fall-duration: 8.573s;
  --fall-delay: 7.264s;
}
.star:nth-child(41) {
  --star-tail-length: 6.98em;
  --top-offset: 97.92vh;
  --fall-duration: 11.656s;
  --fall-delay: 8.597s;
}
.star:nth-child(42) {
  --star-tail-length: 6.16em;
  --top-offset: 58.9vh;
  --fall-duration: 6s;
  --fall-delay: 9.624s;
}
.star:nth-child(43) {
  --star-tail-length: 6.18em;
  --top-offset: 19.72vh;
  --fall-duration: 10.575s;
  --fall-delay: 2.058s;
}
.star:nth-child(44) {
  --star-tail-length: 5.74em;
  --top-offset: 14.69vh;
  --fall-duration: 10.409s;
  --fall-delay: 1.165s;
}
.star:nth-child(45) {
  --star-tail-length: 6.83em;
  --top-offset: 73.47vh;
  --fall-duration: 8.459s;
  --fall-delay: 7.506s;
}
.star:nth-child(46) {
  --star-tail-length: 5.82em;
  --top-offset: 31.26vh;
  --fall-duration: 6.056s;
  --fall-delay: 0.489s;
}
.star:nth-child(47) {
  --star-tail-length: 6.87em;
  --top-offset: 64.95vh;
  --fall-duration: 7.042s;
  --fall-delay: 7.303s;
}
.star:nth-child(48) {
  --star-tail-length: 6.09em;
  --top-offset: 36.39vh;
  --fall-duration: 8.361s;
  --fall-delay: 6.013s;
}
.star:nth-child(49) {
  --star-tail-length: 5.17em;
  --top-offset: 3.19vh;
  --fall-duration: 7.307s;
  --fall-delay: 6.521s;
}
.star:nth-child(50) {
  --star-tail-length: 5.16em;
  --top-offset: 23.64vh;
  --fall-duration: 8.941s;
  --fall-delay: 3.223s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-40em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}






/*LOGIN*/
.contenedor-principal {
    width: 70%;
    max-width: 600px;
    min-height: 350px;
    padding: 2rem;
    border-radius: 20px;
    color: #000;
    background-color: transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.imagen-circular {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #0e124e; 
    box-shadow: 0 0 10px white;
}

.imagen-circular img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.contenedor-principal h1{
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: white;
}
.contenedor-formulario{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-group{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0.6rem;
}
.form-group label{
    font-size: 1rem;
    color: white;
}
::placeholder {
    color: #888; 
    font-style: italic; 
    opacity: 1;
    font-weight: bolder; 
}
.form-group input{
    margin-top: 0.4rem;
    border-radius: 20px;
    padding: 0.7rem;
}

.checkbox-group {
    align-self:flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 1.4rem;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 0.5rem; 
    
}

.checkbox-group label {
    font-size: 1rem; 
    color: white;
}

#boton-enviar{
    background-color: transparent;
    color: white;
    font-size: 1rem;
    width: 90%;
    padding: 1rem;
    border-radius: 30px;
    margin: 1rem 0;
    transition: all .3s ease;
}
#boton-enviar:hover{
    cursor: pointer;
    background-color: #f114cc50;
}

.links{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.5rem 0;
}
.links a{
    text-decoration: none;
    color: #15927f;
    font-weight: bold;
    transition: all .3s ease;
}
.links a:hover{
    border-bottom: 1px solid #15927f;
}
@media screen and (max-width:575px){
    body{
        padding: 0;
    }
    .contenedor-principal{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .form-group{
        width: 100%;
    }
    input{
        width: 100%;
    }
    ::placeholder{
        color: #efefef;
    }
    .form-group input{
        margin-top: 0.4rem;
        border-radius: 20px;
        padding: 0.7rem;
        background-color: transparent;
        border: 1px solid #efefef;
    }
    
    .links{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .links a{
        margin: 0.4rem 0;
    }
    
}



